In [1]:
import requests
import json
import pandas as pd

# Fungsi untuk ekstraksi data dari platform e-commerce
def ekstrak_data(url):
    try:
        # Melakukan request ke URL endpoint platform e-commerce
        response = requests.get(url)
        # Mengecek apakah request berhasil (kode status 200)
        if response.status_code == 200:
            # Mengambil data JSON dari response
            data_json = response.json()
            # Mengkonversi data JSON menjadi DataFrame pandas
            data_frame = pd.DataFrame(data_json)
            return data_frame
        else:
            # Jika request gagal, mencetak pesan error
            print("Request gagal dengan kode status:", response.status_code)
            return None
    except Exception as e:
        # Jika terjadi kesalahan lain selama proses ekstraksi, mencetak pesan error
        print("Terjadi kesalahan saat melakukan ekstraksi data:", str(e))
        return None

# URL endpoint platform e-commerce
url_ecommerce = 'https://gist.githubusercontent.com/nadirbslmh/93b62fdcfa694d4ec07bed9b3c94e401/raw/c07971341361e23fd4f3a880437c4d8e4ebcfafc/stock_trades.json'
data_transaksi = ekstrak_data(url_ecommerce)


# Tampilkan data transaksi yang berhasil diekstrak
print("Data transaksi yang berhasil diekstrak:")
data_transaksi

Data transaksi yang berhasil diekstrak:

,trade_id,stock_symbol,trade_date,trade_time,trade_price,trade_volume,buyer_id,seller_id,trade_type,currency
0,1,GOOGL,1/5/2017,3,675.51,501030,1,1,sell,EUR
1,2,NVDA,3/27/2017,13,559.39,51823,2,2,buy,ZAR
2,3,NFLX,11/7/2015,0,811.33,684430,3,3,sell,ZWL
3,4,MSFT,5/29/2017,22,231.21,237465,4,4,buy,IDR
4,5,JPM,11/8/2012,16,699.15,800344,5,5,buy,HRK
...,...,...,...,...,...,...,...,...,...,...
995,996,JPM,11/11/2014,19,208.69,54629,996,996,buy,CNY
996,997,GOOGL,9/24/2018,9,829.10,365834,997,997,sell,RUB
997,998,MSFT,5/2/2012,16,346.35,891372,998,998,sell,EUR
998,999,NVDA,10/9/2010,0,935.36,483631,999,999,sell,PKR
999,1000,FB,5/6/2017,10,575.05,529597,1000,1000,sell,XAF

In [2]:
# Filter transaksi saham untuk GOOGL, AMZN, MSFT, dan AAPL
saham_terpilih = ['GOOGL', 'AMZN', 'MSFT', 'AAPL']
transaksi_saham_terpilih = data_transaksi[data_transaksi['stock_symbol'].isin(saham_terpilih)]

# Menampilkan hasil
transaksi_saham_terpilih

,trade_id,stock_symbol,trade_date,trade_time,trade_price,trade_volume,buyer_id,seller_id,trade_type,currency
0,1,GOOGL,1/5/2017,3,675.51,501030,1,1,sell,EUR
3,4,MSFT,5/29/2017,22,231.21,237465,4,4,buy,IDR
5,6,AAPL,7/15/2013,16,425.94,884466,6,6,sell,AFN
7,8,AMZN,11/27/2017,16,827.92,384783,8,8,buy,CNY
15,16,MSFT,1/1/2020,5,829.56,131961,16,16,sell,CUP
...,...,...,...,...,...,...,...,...,...,...
989,990,AAPL,7/23/2012,6,208.43,473957,990,990,buy,BDT
993,994,GOOGL,6/13/2017,2,460.83,155001,994,994,buy,USD
994,995,MSFT,1/18/2014,7,763.06,332642,995,995,sell,IDR
996,997,GOOGL,9/24/2018,9,829.10,365834,997,997,sell,RUB
997,998,MSFT,5/2/2012,16,346.35,891372,998,998,sell,EUR

In [3]:
# Filter transaksi saham dengan harga transaksi di atas 500
transaksi_harga_diatas_500 = data_transaksi[data_transaksi['trade_price'] > 500]

# Menampilkan hasil
transaksi_harga_diatas_500

,trade_id,stock_symbol,trade_date,trade_time,trade_price,trade_volume,buyer_id,seller_id,trade_type,currency
0,1,GOOGL,1/5/2017,3,675.51,501030,1,1,sell,EUR
1,2,NVDA,3/27/2017,13,559.39,51823,2,2,buy,ZAR
2,3,NFLX,11/7/2015,0,811.33,684430,3,3,sell,ZWL
4,5,JPM,11/8/2012,16,699.15,800344,5,5,buy,HRK
6,7,TSLA,12/15/2018,20,768.51,181086,7,7,sell,JPY
...,...,...,...,...,...,...,...,...,...,...
990,991,DIS,9/22/2010,8,641.94,196772,991,991,buy,MKD
994,995,MSFT,1/18/2014,7,763.06,332642,995,995,sell,IDR
996,997,GOOGL,9/24/2018,9,829.10,365834,997,997,sell,RUB
998,999,NVDA,10/9/2010,0,935.36,483631,999,999,sell,PKR
999,1000,FB,5/6/2017,10,575.05,529597,1000,1000,sell,XAF